@tailwind utilities;

@tailwind base;

@layer base {
  /* basic css settings */

  body {
    @apply text-white p-0 m-0;
  }

  a {
    @apply no-underline;
  }

  h2 {
    @apply text-4xl text-center;
  }

  h3 {
    @apply text-2xl text-center;
  }

  p {
    @apply text-xl text-center;
  }

  * {
    box-sizing: border-box;
  }

  /* basic css settings end*/
}

@tailwind components;

@layer components {
  /* setups for card and main */

  .card-style {
    @apply bg-slate-300 bg-opacity-80 text-slate-700 py-8 px-4 rounded-md shadow-lg;
  }

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .card-style {
      @apply bg-slate-50 bg-opacity-40 backdrop-filter backdrop-blur-md text-slate-700 py-8 px-4 rounded-md shadow-lg;
    }
  }

  /* setups for card and main end*/

  /* style classes for d3 chart */

  .tooltip {
    @apply bg-zinc-300 text-slate-700 p-4 rounded-md shadow-lg;
    @apply absolute z-50 text-lg font-semibold text-center;
    @apply transition-opacity duration-500 ease-in-out;
    @apply flex flex-col items-center;
  }

  .dot {
    @apply stroke-transparent stroke-[0.75rem];
    @apply hover:fill-slate-200 hover:cursor-pointer transition-all duration-200 ease-in-out;
  }

  .label {
    @apply text-lg;
  }

  .line {
    @apply stroke-slate-600 fill-transparent stroke-[0.15rem] z-10;
  }

  .label-title {
    @apply text-lg;
  }

  /* style classes for d3 chart end*/

  /* CSS for loading spinner */

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #1e293b;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  /* CSS for loading spinner end */
}
